/*
Theme Name: CATS Help
Theme URI: http://themeawesome.com/wordpress-child-theme
Description: A child theme of WP-Forge
Author: T&F
Author URI: 
Template: wp-forge
Version: 4.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wp-starter

Start adding your theme specific styles below.
*/
/*Override theme minimum textarea size*/
textarea {
    min-height: 1px !important;
}

.dataTable th{
    white-space: nowrap;
    font-size-adjust: .47;
}

.dataTable td{
    font-size: 14px;
    hyphens: none;
}

.dataTable .nowrap{
    white-space: nowrap;
}

.dataTables_wrapper label{
    display: flex;
    align-items: center; 
    white-space: nowrap;    
}

.dataTables_wrapper label select{
    margin:  .2em;
}
.epic_title{
    border-bottom: 1px dotted #000;
    width: 100%;
    display: block;
}

/* Child Theme Media Queries - Use the following media queries to adjust the appearance of your theme on mobile devices */

/* Small screens */
@media only screen { }/* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
